* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
}

.logo {
  width: 50px;
}

.title {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
body {
  background: transparent url("assets/background.png") 0% 0% no-repeat
    padding-box;
  background-size: cover;
}

.card {
  width: 418px;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #9c020480;
  margin-bottom: 40px;
  margin: 0 auto;
  align-self: center;
  margin: auto;
  box-shadow: 0px 3px 6px #00000099;
  opacity: 0.86;
  margin-left: 470px;
}

.card-header {
  font-size: 14px;
}

.text {
  margin-left: 10px;
  font: normal normal bold 15px/18px Open Sans;
  color: #fff;
}

.card-footer {
  position: relative;
  margin-left: 30px;
  text-align: center;
  font: normal normal normal 20px/21px Open Sans;
  letter-spacing: 0px;
  color: #f0f0f2;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.card-image {
  align-items: center;
  justify-content: center;
  display: block;
  width: 399px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.hero {
  background: #363636;
  height: 900px;
  padding: 80px;
}

.card2 {
   width: 370px;
   background-color: #fff;
   border-radius: 99px;
   box-shadow: 0px 3px 6px #C82D2D5C;
   margin-right: 10px;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 20px;
  }

  .desc {
      text-align: center;
      align-items: center;
      margin-bottom: 20px;
  }

  .char {
    position: relative;
    bottom: 80px;
    z-index: 9;
  }
 
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-right: 99px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.pena{
  position: absolute;
  right: 55vw;
  top: 19vw;
  width: 80px;
}

.pena2{
  position: absolute;
  right: 55vw;
  top: 23vw;
  width: 50px;
}

.pena3{
  position: absolute;
  right: 36vw;
  top: 21vw;
  width: 90px;
}

.pena4{
  position: absolute;
right: 37vw;
  top: 15vw;
  width: 110px;
}

.section {
  background: rgb(125,237,226);
    background: linear-gradient(90deg, rgba(125,237,226,1) 0%, rgba(88,183,144,1) 100%);
    padding: 5vw;
    text-align: -webkit-center;
    height: 590px;
}

svg{
  position: absolute;
  width: 80px;
  transition: .5s;
  fill: white;
  z-index: 99;
}

svg:hover{
  transition: .5s;
  fill: #2AC496;
  cursor: pointer;
}

.left{
  left: 0;
}

.right {
  right: 0;
  position: absolute;
  top: 100%;
  bottom: 70%;
  left: 50%;
  transform: translate(600px, 300px);
  display: block;
}

